body{
   
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blue;
   
    

}
.calculator{
    border: 1px solid blue;
    font-size:2em ;
    background-color: blue;
    width: 550px;
    border-radius:50%;
    height: 85vh;
    box-shadow:grey ;
    text-align: center;
   
}
.calculator input[type="button"]{
    background-color: aqua;
     margin: 15px;
    font-size: 1em;
    cursor: pointer;
    height: 50px;
    width: 50px;
    border-radius:40%;
    border: none;
    outline:none;
    color: blue;j
   
    
}
.calculator input[type="text"]{
    background-color: aqua;
   padding: 20px 70px ;
   margin-top: 15px;
   border-radius:20px ;
   border: none;
   outline:none ;
   color: blue;
   
}


#result{
    font-size: 1em;
}
.bracket-button {
   
    width: 50px; /* Adjust width as needed */
    height: 50px; /* Adjust height as needed */
    font-size:16px; /* Adjust font size as needed */
    cursor: pointer;
    border: none;
    outline: none;
    background-color: aqua;
    border-radius:50%; /* Rounded corners */
    text-align: center;
    margin: 15px;
    margin-top:2px;
    font-weight: 700;
}
.bracket-left, .bracket-right {
    display: inline-block;
    width: 50%;
    color: blue;
}